@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body{
  font-family: 'Poppins', sans-serif;
}

/* styling for header section */
nav{
    position:fixed;
    width:100%;
    background-color:#fff;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding:1vw 8vw;
    box-shadow:2px 2px 10px rgba(0,0,0,0.15);
    z-index:999;
    
    
}
nav img{
    width:150px;
    height:70px;
    cursor:pointer;
}
nav .navigation{
    display:flex;
}
#menu-btn{
    width:30px;
    height:30px;
    display:none;
}
#menu-close{
    display:none;
}

nav .navigation ul{
    display:flex;
    justify-content:flex-end;
    align-items:center;

}
nav .navigation ul li{
    list-style:none;
    margin-left:30px;
}

nav .navigation ul li a{
    font-size:16px;
    font-weight: 500;
    color:rgb(21,21,100);
    text-decoration:none;
    transition:3s ease;
}

nav .navigation ul li a span{
    display:none;
    color:#ffffff;
    
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color:#fdc93b;
}
#contact-home{
    background-image:linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.3)),url("images/back1.jpg");
    width:100%;
    height:60vh;
    background-position:center;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding-top: 45px;

}
#contact-home h2{
    color:#fff;
    letter-spacing: 1px;
    font-size: 2.2rem;
}











#contact{
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .getintouch{
width: 350px;
}

#contact .getintouch h2{
color: #2c234d;
font-size: 30px;
font-weight: 800;
line-height: .8;
margin-bottom: 16px;
}

#contact .getintouch p{
color: #686875;
line-height: 24px;
margin-bottom: 33px;
padding-bottom: 25px;
border-bottom: 1px solid #e5e4ed;
}

#contact .getintouch h3{
color: #2c234d;
font-size: 15px;
font-weight: 600;
line-height: 26px;
margin-bottom: 15px;
}

#contact .getintouch .getin-details div{
  display: flex;
  flex-direction: row;
}

#contact .getintouch .getin-details div .get{
font-size: 16px;
line-height: 22px;
color: #5838fc;
margin-right: 20px;
}

#contact .getintouch .getin-details div p{
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}

#contact .getintouch .getin-details .pro-links i{
margin-right: 8px;
}

#contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p{
color: #686875;
line-height: 24px;
padding-bottom: 25px;
}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 10px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 10px;
    margin-bottom: 20px;
}

#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

#map{
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#map iframe{
    width: 100%;
    height: 70vh;
}


nav .navigation ul li a:active,
nav .navigation ul li a:hover{
  color: #fdc938;
}


footer{
    padding: 8vw;
    background-color:#101C32;
    display:flex;
    justify-content: space-between;
    align-items:start;
    flex-wrap:wrap;

}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color:rgb(241,240,245);
    font-weight:600;
    padding-bottom:20px;

}

footer li{
    list-style:none;
    color:#7b838a;
    padding:10px 5px;
    font-size: 15px;
    cursor:pointer;
    transition: 0.3s ease;
    font-weight:bold;
}
footer li:hover{
    color:rgb(241,240,245);

}

footer p{
    color:#7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    padding:15px 12px;
    width:220px;background:#334F6C;
    border:none;
    outline:none;
    color:#fff;
}

footer .subscribe button.yellow{
    text-decoration:none;
    font-weight:600;
    font-size:0.9rem;
    padding:14px 15px;
    background-color: #fff;
    text-align: center;
    color:#2c2c2c;
    background-color: #fdc93b;
    transition:0.3s ease;
    

}
footer .subscribe button.yellow:hover{
    color:rgb(21,21,100);
    background-color: #fff;
}

footer .copyright{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
}
footer .copyright p{
    color:#fff;
}
footer .copyright .social-links{
    margin-top: 0px;
}

footer .copyright .social-links a i{
    background-color: #5f7185;
    color:#fff;
    

}

footer .copyright .social-links a i:hover{
  background-color: #FDC93B;
  color:#2c2c2c;

}






@media (max-width: 768px){
    nav {
        padding: 15px 20px;
        z-index: 9999;
    }
    nav img {
        width: 130px;
    }
    #menu-btn {
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
        nav .navigation ul.active{
            right: 0;
        }
            nav .navigation ul li{
                padding: 20px 0 20px 40px;
                margin-left: 0;
            }
           nav .navigation ul li a{
            color: #fff;
           }
        #home {
            padding-top: 0px;
        }
        #home p{
            width: 90%;
        }
        #features{
            padding: 8vm 4vm 0 4vm;
        }            
        
        }
        footer .copyright .pro-links{
            margin-top: 15px;
        }
/* 
about */
#about-container{
    padding: 8vm 4vm 2vm 4vm;
}

#about-container .about-ijmg{
  padding-right: 30px;
}

#trust .trust-img img{
  width: 50px;
  height: auto;
}


/* contact */
#contact {
  padding: 8vw 4vw;
}
#contact .getintouch{
  width: 250px;
}






@media  (max-width:475px){
  h1{
    font-size: 2rem;
  }
}
/* contact */

#contact{
  padding: 8vm 4vm;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
#contact .getintouch{
  width: 100%;
  margin-bottom: 30px;
}
#contact .form{
  width: 100%;
  padding: 40px 30px;
}
#contact .form .form-row{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
#contact .form .form-row input{
width: 100%;
}
#contact .form .form-col textarea{
width: 100%;
}














